<a href="https://colab.research.google.com/github/digvijay-singh-000520512/prog4ds_final_project_fall_2023/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
import pandas as pd

done_cases_global_url = "https: //raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
done_deaths_global_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

done_cases_global_df = pd.read_csv(done_deaths_global_url)
done_deaths_global_df = pd.read_csv(done_deaths_global_url)

In [80]:
done_confirmed_cases = done_cases_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)
done_deaths = done_deaths_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)
global_data_df = pd.DataFrame ({'Confirmed': global_confirmed_cases.sum(), 'Deaths': global_deaths.sum()})
done_confirmed_cases

<ipython-input-80-7c0b7dddb02f>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  done_confirmed_cases = done_cases_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)
<ipython-input-80-7c0b7dddb02f>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  done_deaths = done_deaths_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
Albania,0,0,0,0,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
Angola,0,0,0,0,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
Zambia,0,0,0,0,0,0,0,0,0,0,...,4057,4057,4057,4057,4057,4057,4057,4057,4057,4057
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,5663,5668,5668,5668,5668,5668,5668,5668,5671,5671

In [81]:
global_deaths

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
Albania,0,0,0,0,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
Angola,0,0,0,0,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
Zambia,0,0,0,0,0,0,0,0,0,0,...,4057,4057,4057,4057,4057,4057,4057,4057,4057,4057
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,5663,5668,5668,5668,5668,5668,5668,5668,5671,5671

In [82]:
global_data_df.index = pd.to_datetime (global_data_df.index)
global_data_df.index = global_data_df.index.strftime("%m/%d/%y")
global_data_df

          Confirmed   Deaths
01/22/20         17       17
01/23/20         18       18
01/24/20         26       26
01/25/20         42       42
01/26/20         56       56
...             ...      ...
03/05/23    6877749  6877749
03/06/23    6878115  6878115
03/07/23    6879038  6879038
03/08/23    6880483  6880483
03/09/23    6881802  6881802

[1143 rows x 2 columns]

In [83]:
saskatchewan_cases = confirmed_cases_global_df[confirmed_cases_global_df['Province/State'] == 'Saskatchewan']
saskatchewan_deaths = confirmed_deaths_global_df[confirmed_deaths_global_df ['Province/State'] == 'Saskatchewan']

In [84]:
saskatchewan_cases

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
54,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,1882,1882,1882,1882,1882,1882,1890,1890,1890,1890

In [85]:
saskatchewan_deaths

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
54,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,1882,1882,1882,1882,1882,1882,1890,1890,1890,1890

In [86]:
import requests
api_key = 'TC54JI2GWZOZ8I0J'
symbol_aapl = 'AAPL'  # Apple Inc.


# Function to get stock data
def get_stock_data(symbol):
    # url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&outputsize=full&apikey={api_key}'
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=AAPL&outputsize=full&apikey=TC54JI2GWZOZ8I0J'

    response = requests.get(url)
    data = response.json()
    return data['Time Series (Daily)']


# Here we fetch data from AAPL and Z
aapl_data = get_stock_data(symbol_aapl)

# we will convert the data into dataframe
aapl_df = pd.DataFrame(aapl_data).T[['2. high', '3. low']].rename(columns={'2. high': 'AAPL_High', '3. low': 'AAPL_Low'})
aapl_df.index = pd.to_datetime(aapl_df.index)
aapl_df.index = aapl_df.index.strftime("%m/%d/%y")
print(aapl_df.head())

# Concatenating stock data to global_data_df

global_data_df = pd.concat([global_data_df, aapl_df], axis=1, sort=True)

         AAPL_High  AAPL_Low
12/08/23  195.9900  193.6700
12/07/23  195.0000  193.5900
12/06/23  194.7600  192.1100
12/05/23  194.4000  190.1800
12/04/23  190.0500  187.4511

In [87]:
global_data_df = global_data_df.sort_index()
global_data_df = global_data_df[global_data_df['AAPL_High'].notna()]
global_data_df = global_data_df[global_data_df['Confirmed'].notna()]

global_data_df.index = pd.to_datetime(global_data_df.index)
global_data_df.index = global_data_df.index.strftime("%Y-%m-%d")

global_data_df = global_data_df.sort_index()


global_data_df

            Confirmed     Deaths AAPL_High  AAPL_Low
2020-01-22       17.0       17.0  319.9900  317.3100
2020-01-23       18.0       18.0  319.5600  315.6500
2020-01-24       26.0       26.0  323.3300  317.5200
2020-01-27       82.0       82.0  311.7700  304.8800
2020-01-28      131.0      131.0  318.4000  312.1900
...               ...        ...       ...       ...
2023-03-03  6877325.0  6877325.0  151.1100  147.3300
2023-03-06  6878115.0  6878115.0  156.3000  153.4600
2023-03-07  6879038.0  6879038.0  154.0299  151.1300
2023-03-08  6880483.0  6880483.0  153.4700  151.8300
2023-03-09  6881802.0  6881802.0  154.5350  150.2250

[789 rows x 4 columns]