<a href="https://colab.research.google.com/github/digvijay-singh-000520512/prog4ds_final_project_fall_2023/blob/main/final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

done_cases_global_url = "https: //raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv"
done_deaths_global_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv"

done_cases_global_df = pd.read_csv(done_deaths_global_url)
done_deaths_global_df = pd.read_csv(done_deaths_global_url)

In [6]:
done_confirmed_cases = done_cases_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)
done_deaths = done_deaths_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)
done_data_df = pd.DataFrame ({'Confirmed': global_confirmed_cases.sum(), 'Deaths': global_deaths.sum()})
done_confirmed_cases

<ipython-input-6-598eec922521>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  done_confirmed_cases = done_cases_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)
<ipython-input-6-598eec922521>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  done_deaths = done_deaths_global_df.groupby('Country/Region').sum().drop(['Lat', 'Long'], axis=1)

,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,1/28/20,1/29/20,1/30/20,1/31/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
Country/Region,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0,0,0,0,0,0,0,0,0,0,...,7896,7896,7896,7896,7896,7896,7896,7896,7896,7896
Albania,0,0,0,0,0,0,0,0,0,0,...,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
Algeria,0,0,0,0,0,0,0,0,0,0,...,6881,6881,6881,6881,6881,6881,6881,6881,6881,6881
Andorra,0,0,0,0,0,0,0,0,0,0,...,165,165,165,165,165,165,165,165,165,165
Angola,0,0,0,0,0,0,0,0,0,0,...,1933,1933,1933,1933,1933,1933,1933,1933,1933,1933
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
West Bank and Gaza,0,0,0,0,0,0,0,0,0,0,...,5708,5708,5708,5708,5708,5708,5708,5708,5708,5708
Winter Olympics 2022,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Yemen,0,0,0,0,0,0,0,0,0,0,...,2159,2159,2159,2159,2159,2159,2159,2159,2159,2159
Zambia,0,0,0,0,0,0,0,0,0,0,...,4057,4057,4057,4057,4057,4057,4057,4057,4057,4057
Zimbabwe,0,0,0,0,0,0,0,0,0,0,...,5663,5668,5668,5668,5668,5668,5668,5668,5671,5671